<div class="login">
	<h1>Login</h1>
	<span id="notice"><%= user.get("status") %></span>
	<form>
		<input name="login" type="text" />
		<input name="password" type="password" />
		<input name="context" type="hidden" value="EN All USA" />
		<input type="submit" />
	</form>
</div>
