<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
	<%= include_stylesheets :all %>
  <%= include_javascripts :templates %>
  <%= include_javascripts :all %>
</head>
<body>

<%= yield %>

</body>
</html>
